html,
body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  scroll-behavior: smooth;

}

#main-container {
  display: flex;
  flex-direction: row;
  
}

#navbar-container {
  height: 100vh;
  flex: 0.2;
  background-color: #1b2835;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#navbar-container h3{
  color: #cf404d; 
}
#navbar-container a {
  padding: 15px 0;
  color: white;
  display: block;
  font-size: 0.7em;
  justify-content: space-between;
}

#navbar-container a:hover {
  color: #cf404d;
  text-decoration: none;
}

/* css for changing content */
#content-container {
  flex: 0.8;
  overflow: scroll;
  height: 100vh;
  width: 100%;
  
}
/* landing container */
#landing-container {
  background-image: url(../images/covid5.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Space/Margin on all containers so doesnt touch edges */
.space-container{
  height:100%;
  margin: 20px;

 }
 





/* COVID BACKGROUND */
/* covid background container */

/* SYMPTOMS */


/*  TIME LINE */



/* 
  ::-webkit-scrollbar {
    display: none;
  } */
