html,
body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  scroll-behavior: smooth;
}

#main-container {
  display: flex;
  flex-direction: row;
}

#navbar-container {
  height: 100vh;
  flex: 0.2;
  background-color: #1b2835;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#navbar-container h3 {
  color: #cf404d;
}
#navbar-container a {
  padding: 15px 0;
  color: white;
  display: block;
  font-size: 0.7em;
  justify-content: space-between;
}

#navbar-container a:hover {
  color: #cf404d;
  text-decoration: none;
}

/* css for changing content */
#content-container {
  flex: 0.8;
  overflow: scroll;
  height: 100vh;
  width: 100%;
  
}

.conent-header{
  text-align: center;
  background-color: #cf404d ;
  color: white;
  padding: 5px;
}


/* landing container */
#landing-container {
  background-image: url(../images/covid5.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Space/Margin on all containers so doesnt touch edges */
.space-container {
  height: 100%;
  margin: 20px;
  /* height: max-content; */
}

.timeline-container {
  margin: 20px;
}
.coronavirus-subcontainer {
  background-color: #1b2835;
  color: white;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;

}
.coronavirus-subcontainer h4 {
  color: #cf404d;
}

/* COVID BACKGROUND */

#covid-background-video-container iframe {
  display: inline-block;
  margin: 0.5rem auto;
  width: 100%;
  height: 400px;
}

/* SYMPTOMS */

#symptoms-content {
  background-image: url(../images/covid4.jpeg);
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.symptoms-subconent{
  display: flex;
  align-items: center;

  color: white;
  border: 1px solid black;
  background-color: rgba(0,0,0,0.8);
  width: 15vw;
  height: 15vw;
  border-radius: 50%;

  padding: 10px;
  font-size: 1.0em;
}

.symptom-type{
  color: #cf404d;
  font-size: 30px;

}

/*  TIME LINE */

/*INFOGRAPHICS*/

.thumbnails img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px #cf404d;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* 
  ::-webkit-scrollbar {
    display: none;
  } */
